@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#050816] text-slate-300;
}

/* Custom Scrollbar Dark */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #02040a; 
}
::-webkit-scrollbar-thumb {
  background: #1e293b; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #334155; 
}

.glass-card {
  @apply bg-[#0a0f24]/60 backdrop-blur-md border border-white/5;
}

.neon-border-purple {
  border: 1px solid rgba(217, 70, 239, 0.3);
  box-shadow: 0 0 15px rgba(217, 70, 239, 0.1);
}

.neon-border-cyan {
  border: 1px solid rgba(34, 211, 238, 0.3);
  box-shadow: 0 0 15px rgba(34, 211, 238, 0.1);
}